#header-bar {
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #666;
}

.header-item {
  font-weight: bold;
  font-size: 25px;
  margin-left: 25px;
  padding: auto;
  color: #fff;
  text-decoration: none;
}
